*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
.content-box-component {
	box-sizing: content-box;
}
body {
	margin: 0;
	padding: 0;

	font-family: "Lato", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #4c4c4c;

	background-color: #f9fbfb;
}
a {
	text-decoration: none;
}
.button {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}
.visually-hidden {
	display: none;
}
.container {
	width: 1600px;	
	margin: 0 auto;
}
.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px 175px 70px 175px;

	background-color: #ccaf4d;
	background-image: url("../img/bg-0.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.header-nav {
	display: flex;

	width: 1250px;
}
.header-menu-list,
.header-social-list {
	list-style: none;
}
.header-menu-list {
	display: flex;

	width: 770px;
}
.header-menu-item a {
	font-family: "Gentium Book Basic", "Georgia", serif;
	font-size: 21px;
	font-weight: 700;
	line-height: normal;
	color: #ffffff;
}
.header-social-list {
	display: flex;

	width: 140px;
}
.header-social-item a {
	background-image: url("../img/social.png");
}
.header-social-item a:first-child {
	background-position: 0 0;
}
.header-social-item a:nth-child(2) {
	background-position: 10px 0;
}
.header-social-item a:last-child {
	background-position: 20px 0;
}
.header-title {
	width: 940px;

	font-family: "YesevaOne", "Georgia", serif;
	font-size: 90px;
	font-weight: 400;
	line-height: normal;
	color: #ffffff;
	text-align: center;
}
.button-table {
	background-color: rgba(0, 0, 0, 0.2);
}
.button-menu {
	background-color: rgba(255, 255, 255, 0.2);
}
.index-main h2 {
	font-family: "YesevaOne", "Georgia", serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 24px;
	color: #cc9900;

	text-align: center;
}
.preview {
	display: flex;

	padding: 50px 214px 30px 214px;

	background-image: url("../img/pattern.png");
	background-repeat: no-repeat;
}
.preview-description {
	text-align: center;
}
.promo-ingridients {
	padding: 100px 215px 100px 814px;

	background-image: url("../img/bg.jpg");
}
.ingridients-wrapper {
	width: 570px;
	padding: 70px 65px 75px 70px;

	background-color: rgba(0, 0, 0, 0.6);
}
.ingridients-wrapper .ingridients-title {
	color: #ffffff;
}
.ingridients-description {
	color: #ffffff;
}
.ingridients-img-list {
	display: flex;
	list-style: none;
}
.ingridients-img-item {
	width: 115px;
	height: 115px;
}
.menu-eat {
	display: flex;
	justify-content: space-between;

	padding: 100px 215px 80px 215px;

	background-image: url("../img/pattern2.png");
}
}
.menu-eat table {
	width: 570px;
	margin: 0;
	padding: 0;
}
.menu-eat caption {
	font-family: "YesevaOne", "Georgia", serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	color: #cc9900;
	text-align: center;
}
.info-name {
	font-family: "YesevaOne", "Georgia", serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
}
.info-price {
	font-family: "YesevaOne", "Georgia", serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
}
.item-description {
	font-size: 16px;
	line-height: 24px;
	color: #4c4c4c;
}
.review {
	padding: 100px 415px;

	background-image: url("../img/bg-2.jpg");
}
.review-wrapper {
	width: 770px;
	padding: 75px 70px 90px 70px;

	font-family: "YesevaOne", "Georgia", serif;
	font-weight: 400;
	line-height: normal;
	color: #ffffff;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.2);
}
.reviews-title {
	font-size: 36px;
}
.reviews-description {
	font-size: 25px;
	line-height: 45px;
}
.reviews-copyright {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 45px;
}
.booking {
	display: flex;

	padding: 100px 215px 100px 215px;

	background-image: url("../img/pattern.png");
	background-repeat: no-repeat;
}
.img-wrapper {
	display: flex;
	justify-content: space-between;

	width: 570px;
}
.booking-description {
	text-align: center;
}
.description-form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 570px;
	padding-left: 70px;
	padding-right: 70px;
}
.booking-form label{
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
	color: #c9a131;
}
.booking-form input::placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: normal;
	color: #7c7c7c;
}
.form-button {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	color: #ffffff;
	text-align: center;

	background-color: #c9a131;
}
.main-footer {
	display: flex;

	padding: 50px 214px;

	background-color: #191919;
}
.main-footer h2 {
	font-family: "YesevaOne", "Georgia", serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}
.about {
	width: 370px;
}
.card-list,
.footer-social-list {
	list-style: none;
}
.about-description span {
	font-weight: bold;
}
.time {
	width: 230px;
}
.time-month {
	font-weight: bold;
}
.card-item a {
	background-image: url("../img/cards.png");
}
.card-item a:first-child {
	background-position: 0 0;
}
.card-item a:nth-child(2) {
	background-position: 10px 0;
}
.card-item a:nth-child(3) {
	background-position: 20px 0;
}
.card-item a:nth-child(4) {
	background-position: 30px 0;
}
.card-item a:last-child {
	background-position: 40px 0;
}
.location {
	width: 230px;
}
.location address {
	font-weight: 700;
}
.footer-social-item a {
	background-image: url("../img/icons.png");
}
.footer-social-item a:first-child {
	background-position: 0 0;
}
.footer-social-item a:nth-child(2) {
	background-position: 10px 0;
}
.footer-social-item a:nth-child(3) {
	background-position: 20px 0;
}
.footer-social-item a:last-child {
	background-position: 30px 0;
}